<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<link rel="shortcut icon" type="image/x-icon" href="http://test.ikindness.cn/icon.png" />
		<link rel="stylesheet" href="http://test.ikindness.cn/css/core.css" />
		<link rel="stylesheet" href="http://test.ikindness.cn/css/detail.css" />
		<title>商品详情</title>
	</head>
	<body>
		<div class="product">
			<a id="back">&lt;</a>
			<img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=109454794,3820222999&fm=27&gp=0.jpg" />
			<strong id="product"></strong>
			<span id="price"></span>
			<button type="button" id="buy">订购</button>
		</div>
		<script async type="module" src="http://test.ikindness.cn/js/detail.js"></script>
	</body>
</html>