<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<link rel="shortcut icon" type="image/x-icon" href="http://test.ikindness.cn/icon.png" />
		<link rel="stylesheet" href="http://test.ikindness.cn/css/core.css" />
		<link rel="stylesheet" href="http://test.ikindness.cn/css/home.css" />
		<title>首页</title>
	</head>
	<body>
		<img class="photo" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1520671991&di=b0006c509c1db834eac5bdf5d641adee&imgtype=jpg&er=1&src=http%3A%2F%2Fimg0.ddove.com%2Fupload%2F20090709%2F090843017894.JPG" />
		<div class="products" id="products"></div>
		<footer>
			<a href="./home.html">首页</a>
			<i></i>
			<a href="./user.html">个人中心</a>
		</footer>
		<script async type="module" src="http://test.ikindness.cn/js/home.js"></script>
	</body>
</html>