<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<link rel="shortcut icon" type="image/x-icon" href="http://test.ikindness.cn/icon.png" />
		<link rel="stylesheet" href="http://test.ikindness.cn/css/core.css" />
		<link rel="stylesheet" href="http://test.ikindness.cn/css/sign_in.css" />
		<title>登录</title>
	</head>
	<body>
		<form>
			<input type="tel" placeholder="账号" autocomplete="tel" id="tel" />
			<input type="password" placeholder="密码" autocomplete="current-password" id="password" />
			<button type="button" id="signIn">登录</button>
		</form>
		<script async type="module" src="http://test.ikindness.cn/js/sign_in.js"></script>
	</body>
</html>