<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<link rel="shortcut icon" type="image/x-icon" href="http://test.ikindness.cn/icon.png" />
		<link rel="stylesheet" href="http://test.ikindness.cn/css/core.css" />
		<style>
			.bg{
				position: fixed;
				width: 100vw;
				height: 100vh;
				padding: 24vh 0 0 54vw;
				background-color: #3d765e;
				background-image: url(./iphone-x.png);
				background-repeat: no-repeat;
				background-position: 16vw 16vh;
				background-size: 375px auto;
				font-size: 8vh;
				color: #ffffff;
			}
			p{
				position: fixed;
				top: 54vh;
				left: 50vw;
				letter-spacing: .75vw;
				color: #ffffff;
				font-size: 2vh;
			}
		</style>
		<title>迷资客</title>
	</head>
	<body>
		<div class="bg">迷资客App</div>
		<p>迷资客，伴您身边的一款迷一样的App！</p>
	</body>
</html>